/* available-items.css */

.available-items-container {
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

.available-items-content {
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: 60vh;
  margin: 0 auto; /* Center the content horizontally */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 80vh; /* Set a max height */
}

.available-items-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.available-items-table {
  width: 100%;
  border-collapse: collapse;
  
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.available-items-table th,
.available-items-table td {
  color: black;
  text-align: center;
  padding: 8px;
}

.available-items-table th {
  background-color: #f5f5f5;
}

.btn {
  font-size: 1rem;
  margin-top: 10px;
  max-height: fit-content;
}

.back-button {
  font-size: 1rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .availabe-items-content {
    max-width: 90%; /* Adjust the content width for smaller screens */
  }

  .available-items-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .available-items-table {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

}